*/.vs/*
*/.vs/**/*
*/*/*.vcxproj.filters
*/*/*.vcxproj.user
*/packages/*
*/Debug/*
*/Debug/**/*
*/*/*/Debug/*
*/MapReduce/Debug/*
*/x64/*/*.exe
*/x64/*/*.txt
*/x64/*/*.log
*/x64/*/*.tlog
*/x64/*/*.pdb
*/x64/*/*.tlog
*/x64/*/*.lib
*/x64/*/*.testdurations
