*/.vs/*
*/.vs/**/*
*/MapReduce/x64/*
*/MapReduce/x64/**/
*/x64/*
*/x64/**/*
*/MapReduce/MapReduce.vcxproj.filters
*/MapReduce/MapReduce.vcxproj.user
*/MapReduceTest/x64/*
*/MapReduceTest/x64/**/
*/MapReduceTest/MapReduceTest.vcxproj.filters
*/MapReduceTest/MapReduceTest.vcxproj.user
*/packages/*
*/Debug/*
*/Debug/**/*
*/MapReduce/Debug/*
*/MapReduce/Debug/**/*
