Project1/.vs/MapReduce/v17/.suo
Project1/.vs/MapReduce/v17/Browse.VC.db
Project1/.vs/MapReduce/v17/fileList.bin
Project1/.vs/MapReduce/v17/ipch/AutoPCH/165c19a0696b3477/MAPREDUCE.ipch
Project1/.vs/MapReduce/v17/ipch/AutoPCH/788fdfe851975119/MAP.ipch
Project1/.vs/MapReduce/v17/ipch/AutoPCH/85dfe695da1337fe/FILEMANAGEMENT.ipch
Project1/.vs/MapReduce/v17/ipch/AutoPCH/b9dcc309419a9de1/REDUCE.ipch
Project1/MapReduce/x64/Debug/FileManagement.nativecodeanalysis.xml
Project1/MapReduce/x64/Debug/FileManagement.obj
Project1/MapReduce/x64/Debug/Map.nativecodeanalysis.xml
Project1/MapReduce/x64/Debug/Map.obj
Project1/MapReduce/x64/Debug/MapReduce.Build.CppClean.log
Project1/MapReduce/x64/Debug/MapReduce.ilk
Project1/MapReduce/x64/Debug/MapReduce.log
Project1/MapReduce/x64/Debug/MapReduce.nativecodeanalysis.xml
Project1/MapReduce/x64/Debug/MapReduce.obj
Project1/MapReduce/x64/Debug/MapReduce.tlog/CL.command.1.tlog
Project1/MapReduce/x64/Debug/MapReduce.tlog/CL.read.1.tlog
Project1/MapReduce/x64/Debug/MapReduce.tlog/CL.write.1.tlog
Project1/MapReduce/x64/Debug/MapReduce.tlog/link.read.1.tlog
Project1/MapReduce/x64/Debug/Reduce.nativecodeanalysis.xml
Project1/MapReduce/x64/Debug/Reduce.obj
Project1/MapReduce/x64/Debug/vc.nativecodeanalysis.all.xml
Project1/MapReduce/x64/Debug/vc143.idb
Project1/MapReduce/x64/Debug/vc143.pdb
Project1/x64/Debug/MapReduce.exe
Project1/x64/Debug/MapReduce.pdb
